{% extends 'base.html' %} {% load bootstrap4 %} {% load static %} {% block content %}
<div class="container">

    <div class="row">
        <div class="card" style="width:400px">
            <h4 style="text-align: center;" class="card-title pictitle"> {{post.name}} </h4>
            <img class="card-img-top" width="500px" height="450px" src=" {{post.image.url}}" alt="{{post.name}}">
            <div class="card-body">
                <h4 class="card-title"> {{post.caption}}</h4>
                <p class="card-text"><b>Posted by:</b> {{post.user}} </p>
                <div class="react">
                    <a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/hearts.png" /></a>
                    <a href="{%url 'comment' post.id%}"><img data-toggle="collapse" src="https://img.icons8.com/metro/26/000000/comments.png" /></a>
                    </a>
                </div>
                <div class="react">
                    <p><span style="font-weight: bold;">{{post.likes}}</span> Likes</p>


                </div>

                <form action="{% url 'timeline' post.pk %}" method="post">
                    {% csrf_token %}

                </form>
                <h3>{{post.user}}</h3> {% for comment in comments%}
                <p>"{{comment.text}}" </p>{%empty%} {%endfor%}

            </div>
        </div>





        <!-- ******* -->


    </div>

</div>
{% endblock %}